{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link href="{{ asset('assets/css/homeStyle.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('assets/css/chats.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <main>
        <div class="encabezado">
            <span dir="auto" class="nombre">Sergio Casas</span>
            <div class="opciones">
                <img src="{{ asset('assets/img/facetime-button.png') }}" alt="">
            </div>
        </div>
        <div class="cuerpo">
            <div class="mensaje">
                <span class="recibido">Mensaje Recibido</span>
            </div>
            <div class="mensaje">
                <span class="enviado">Mensaje Enviado</span>
            </div>
        </div>
        <div class="campo">
            <input type="text" name="_mensaje" id="mensaje" placeholder="Escriba su mensaje">
        </div>
    </main>
    <aside>
        <div class="chats">
            <div class="paciente">
                <span class="nombre">Paciente 1</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
            <hr>
            <div class="paciente">
                <span class="nombre">Paciente 2</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
            <hr>
            <div class="paciente">
                <span class="nombre">Paciente 3</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
            <hr>
            <div class="paciente">
                <span class="nombre">Paciente 4</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
            <hr>
            <div class="paciente">
                <span class="nombre">Paciente 5</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>
    </aside>
{% endblock %}