<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}KineTime{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
{% block body %}
    <div>
        <h2>Bienvenido a KineTime</h2>


        <form action="{{ path('homePaciente') }}" method="POST">

            <input type="submit" value="Entrar" />
        </form>
    </div>
{% endblock %}
</body>
</html>
