main h2 {
    text-align: center;
    text-transform: uppercase;
}

main .ficha {
    background: #F5F3F3;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 5px;
    padding: 6px;
}

main .ficha .datosP {
    margin: 10px;
    padding: 0 50px;
    overflow: hidden;
}

main .ficha .datosP label {
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
}

main .ficha .datosP .rut {
    margin-top: 30px;
    margin-left: 65px;
    float: left;
}

main .ficha .datosP .nombre {
    margin-top: 30px;
    margin-left: 65px;
    float: left;
}

main .ficha .datosP .especialidad {
    margin-top: 30px;
    margin-left: 65px;
    float: left;
}

main .ficha .datosP .certificaciones {
    margin-top: 30px;
    margin-left: 140px;
    float: left;
}

main .ficha .datosP .anosExperiencia {
    margin-top: 30px;
    margin-left: 65px;
    float: left;
}

main .ficha .datosP .perfil {
    float: left;
    margin-top: 30px;
    margin-left: 140px;
}

main .ficha .datosP .perfil .perfiles {
    margin-left: 40px;
}

main .ficha .datosP .area {
    float: left;
    margin-top: 30px;
    margin-left: 60px;
}

main .ficha .datosP .areas {
    margin-left: 40px;
}

main .ficha .datosP .metas {
    float: left;
    margin-top: 30px;
    margin-left: 80px;
    overflow: hidden;
}

main .ficha .datosP .metas label {
    width: 100%;
}

main .ficha .datosP input {
    margin-left: 15px;
}

main .boton input {
    border: 2px solid #ffff;
    border-radius: 100px;
    background: #5FCE27;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    margin: 10px 10px;
}

main .boton input:hover {
    opacity: .6;
}